footer {

    font-weight: bold;
    .year {
        color: $text-white;
    }

    img {
        &.git {
            width: 30px;
        }
        
        &.rss {
            width: 80px;
        }
    }
}

