header {
    position: relative;
    display: flex !important;
    align-items: center;
    justify-content: center;
    
    h1 {
        font-size: 24px;
        text-transform: uppercase;
        color: $text-white;
    }

    &>button {
        position: absolute;
        right: 50px;
    }
}