.main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &-game {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-timer{ 
        width: 200px;
        color: white;

        h2 {
            font-size: 20px;
            text-transform: uppercase;
            margin-bottom: 10px;
            text-align: center;
        }
        
        .time {
            width: 100%;
            text-align: center;
        }
    }
}

.game {
    width: 297px;
    height: 297px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    .item {
        width: 33px;
        height: 33px;
        cursor: pointer;
        border: 1px dotted;
        text-align: center;

        &[disabled] {
            background: rgba(200, 200, 200, 0.9);
            &:hover {
                cursor: default;
            }
        }
    }

}

.reset {
    margin: 10px;
}

.message {
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
}
