.show {
    right: 0;
}

.audio {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 160px;

    label {
        color: $text-white;
        text-transform: uppercase;
        width: 70px;
    }
    
    img {
        margin: 5px;
        width: 15px;
    } 

    input {
        width: 100px;
    }
}