$bg-green: green;
$bg-red: red;
$bg-blue: blue;
$bg-main: #023047;
$bg-gray: #cccccc;
$text-white: #ffffff;

$bg-opacity: 0.05;
$blocks-opacity: 0.7;

@mixin transparentBackground ($rgbColor, $opacity) {
    background-color: rgba($rgbColor, $opacity);
}